[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
.vs/
[Bb]uild/
[Bb]uilds/

*.slnx
*.idea/
*.vscode/
.utmp/
.vsconfig
ProjectSettings/GvhProjectSettings.xml

*.csproj
*.sln
*.user
*.tmp
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db

Thumbs.db
[Dd]esktop.ini
